# See systemd.service(5) for details
[Unit]
Description=Configuration daemon to pull down the scanner configuration on startup
After=network-online.target

[Service]
Environment="JAVA_HOME=/root/jdk1.8.0_33"
ExecStart=@/usr/local/bin/scanner-configd scanner-configd
TimeoutStartSec=30
Type=oneshot

[Install]
WantedBy=scanner-config.service
